#container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 42pt;
}

.inputDiv {
  margin-right: 12px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16pt;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.submitbutton {
  border-radius: 5px;
  padding: 5px;
}

p {
  font-size: 16pt;
}

#story_label {
  font-size: 16pt;
}
